In [1]:
# Variables
var1 = 10 # integer
var2 = 25
today = "Friday"
var3 = 10.0 # float 
print(var3)
variable_type = type(var3)
print(variable_type)

10.0
<class 'float'>

In [2]:
# Strings
s = "Today is Friday"
variable_type = type(s)
print(s)
print(variable_type)

Today is Friday
<class 'str'>

In [3]:
var1 = "ankara"
var2 = "ist"
var3 = var1+var2
print(var3)

ankaraist

In [4]:
var4 = "100"
var5 = "200"
var6 = var4+var5
length = len(var6) 
print(length)

6

In [0]:
# numbers
integers = -60
floats = -40.5

In [6]:
# built in functions
float1 = 50.5
to_integer = int(float1)
print(to_integer)

50

In [7]:
float2 = 40.6
rounding = round(float2)
print(rounding)

41

In [8]:
# Functions
var1 = 20
var2 = 50

def func(a,b):
   output = (((a+b)*50)/100.0)*a/b
   return output

answer = func(var1,var2)
print(answer)

14.0

In [9]:
def printing():
  print("This is BAU")
printing()

This is BAU

In [10]:
# Lambda functions
x = 5
output = lambda x:x*x
print(output(x))

25

In [0]:
# lists 
list1 = [1,2,3,4,5,6]
type(list1)

list

In [0]:
list_str = ["Sunday","Monday","Tuesday"]
type(list_str)

list

In [0]:
list1 = [1,2,3,4,5,6]
value = list1[1]
print(value)

last_value = list1[-1]
print(last_value)

list_divide = list1[0:3]
print(list_divide)
list1.append(7)
print(list1)
list1.remove(7)
print(list1)
list1.reverse()
print(list1)

list2 = [1,5,4,3,6,7,2]
list2.sort()
print(list2)

2
6
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7]

In [0]:
mixed_list = [1,2,3,"aa","bb"]
print(mixed_list)

In [0]:
# Tuple
t = (1,2,3,3,4,5,5,6)

print(t.count(5))
print(t.index(5))

2
5

In [11]:
# Dictionary
dictionary = {"ali":32,"veli":45,"ayse":13}
print(dictionary)
# ali ,veli ,ayse = keys
# 32,45,13 = values

{'ali': 32, 'veli': 45, 'ayse': 13}

In [0]:
var_two = 5
print(var_two)

5

In [0]:
#Conditionals
var1 = 10
var2 = 20

if(var1 > var2):
    print("var1 is greater than var2")
elif(var1 == var2):
    print("var1 and var2 are equal")
else:
    print("var1 is less than var2")

In [0]:
list1 = [1,2,3,4,5]

value = 9
if value in list1:
    print(" {} is in the list".format(value))
else:
    print("{} is  not in the list".format(value))

In [0]:
# Loops
for each in range(1,11):
    print(each)

In [0]:
for each in "ankara ist":
    print(each)

In [0]:
for each in "ankara ist".split(): 
    print(each)

In [0]:
list1 = [1,4,5,6,8,3,3,4,67]
 
counter = 0
for each in list1:
    counter = counter + each
print(counter)
summation = sum(list1)
print(summation)

In [0]:
# while loop
    
i = 0
while(i <4):
  print(i)
  i = i + 1

In [0]:
list1 = [1,4,5,6,8,3,3,4,67]
length = len(list1)   
each = 0
count = 0
while(each < length):
    count = count + list1[each]
    each = each + 1 
print(count)